#messages {
    opacity: 0;
    margin-top: 2em;
    margin-bottom: 2em;
}

.append input[type=range] + input[type=text] {
    border-radius: 0px;
    margin-left: -6px;
}

input[type="range"] {
    vertical-align: top;
    border-radius: 4px 0 0 4px;
}

input[type=range]::-webkit-slider-thumb {
  cursor: pointer;
  margin-top: -7px;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: #3071a9;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}