@font-face {
    font-family: 'Open Sans';
    src: url("./OpenSans-Light.woff2?v=1.1.0") format("woff2");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url("./OpenSans-LightItalic.woff2?v=1.1.0") format("woff2");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url("./OpenSans-Regular.woff2?v=1.1.0") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url("./OpenSans-Italic.woff2?v=1.1.0") format("woff2");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url("./OpenSans-Semibold.woff2?v=1.1.0") format("woff2");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url("./OpenSans-SemiboldItalic.woff2?v=1.1.0") format("woff2");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url("./OpenSans-Bold.woff2?v=1.1.0") format("woff2");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url("./OpenSans-BoldItalic.woff2?v=1.1.0") format("woff2");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url("./OpenSans-ExtraBold.woff2?v=1.1.0") format("woff2");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url("./OpenSans-ExtraBoldItalic.woff2?v=1.1.0") format("woff2");
    font-weight: 800;
    font-style: italic;
}
